<!-- Spodnja funkcija kliče "kodo" za glavo iz osnova.html -->
{% extends "osnova.html" %}

<!-- Spodnja funkcija je za vsebino, ki se razlikuje od osnova.html -->
{% block vsebina %}
    <h1>Kontakt</h1>

    <!-- ?? -->
    <form method="post" action="/poslji-sporocilo">
        <p>Zadeva: <input name="zadeva"></p>
        <p>Sporočilo: <input name="sporocilo"></p>
        <p><button type="submit">Pošlji</button></p>
    </form>

<!-- Spodnja funkcija kliče "kodo" za nogo iz osnova.html -->
{% endblock %}
